{% extends 'base.html.twig' %}

{% block title %}Moto index{% endblock %}

{% block body %}
    {% set nbmoto = motos|length %}
    <h1 align="center">Bienvenu sur mon site des motos ({{ nbmoto }})</h1>
    <div class = "container text-center">
        <div class = "row">
            {% for moto in motos %}
                <div class="card max-w-sm col-4 bg-white rounded-lg border border-gray-200 shadow-md dark:bg-gray-800 dark:border-gray-700 my-8 mr-4" data-type="post">
                    <h2><a href={{ path('app_moto_show', {id : moto.id})}}>{{ moto.nom}} </a></h2>
                    <img src = "https://www.lerepairedesmotards.com/img/actu/2022/moto-sportive-hydrogene-h2k-avant_hd.jpg" width="150" height="200">
                    
                </div>        
            {% else %}
                <p>Pas encore de moto</p>
            {% endfor %}
        </div>
    </div>
{% endblock %}
